@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


@theme{
    --font-grotesk: "Space Grotesk", sans-serif;
}

@layer base{
    html{
        font-family: var(--font-grotesk);
    }
}


